<h3><%= t('create_new_supplier') %></h3>
<%= form_for(@supplier) do |f| %>
    <p>
      <%= f.label t('name') %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label t('address') %><br>
      <%= f.text_field :address %>
    </p>
    <%= f.submit t('create'), :class => "btn" %>
<% end %>