<h3>Create new supplier</h3>
<%= form_for(@supplier) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </p>
    <%= f.submit "Create", :class => "btn" %>
<% end %>