<h3><%= @supplier.name %></h3>
<p>Address: <%= @supplier.address %></p>
<p>Items:</p>
<table>
  <thead>
    <tr>
      <th style="text-align: left;">Ean</th>
      <th style="text-align: left;">Description</th>
      <th style="text-align: left;">Purchase price</th>
      <th style="text-align: left;">Sales price</th>
      <th style="text-align: left;">Vat</th>
    </tr>
  </thead>
  <tbody>
    <% @supplier_items.each do |si| %>
      <tr>
        <td><%= si.ean %></td>
        <td><%= si.description %></td>
        <td><%= si.purchase_price %></td>
        <td><%= si.sales_price %></td>
        <td><%= si.vat %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<h3>Add a supplier item:</h3>
<%= form_for([@supplier, @supplier.supplier_items.build]) do |f| %>
    <p>
      <%= f.label :ean %><br>
      <%= f.text_field :ean %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :purchase_price %><br>
      <%= f.number_field :purchase_price %>
    </p>
    <p>
      <%= f.label :sales_price %><br>
      <%= f.number_field :sales_price %>
    </p>
    <p>
      <%= f.label :vat %><br>
      <%= f.select(:vat, options_for_select([['21%', 21], ['9%', 9]])) %>
    </p>
    <p>
      <%= f.submit "Add", :class => "btn" %>
    </p>
<% end %>
