<!DOCTYPE html>
<html>
  <head>
    <title>LearnBaby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>Learning RoR</h2>
      <p>
        <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
        |
        <%= link_to_unless I18n.locale == :de, "Lietuvių", locale: :lt %>
      </p>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
